In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# we import the libraries for request and BeautifulSoup
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [3]:
latlon = pd.read_csv('Geospatial_Coordinates.csv')
latlon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:

latlon.rename(columns={"Postal Code": "Postcode"}, inplace = True)
latlon.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [7]:
for idx, pcode,lat,lon in zip(latlon.index, latlon['Postcode'], latlon['Latitude'], latlon['Longitude']):
    # Getting the index values of df that match the postcod of latlon dataframe. 
    i = latlon[latlon['Postcode'] == pcode].index.values
    #print(i.shape[0])
    if i.shape[0] != 0:
        latlon.loc[i,'Latitude'] = lat
        latlon.loc[i,'Longitud'] =lon

In [8]:
latlon.head()

  Postcode   Latitude  Longitude   Longitud
0      M1B  43.806686 -79.194353 -79.194353
1      M1C  43.784535 -79.160497 -79.160497
2      M1E  43.763573 -79.188711 -79.188711
3      M1G  43.770992 -79.216917 -79.216917
4      M1H  43.773136 -79.239476 -79.239476